<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/38bcb2e0-88ab-4804-8df4-f4dde9873687/resourceGroups/Token/providers/Microsoft.ApiManagement/service/JWTTokenAPIapi/apis/JWTTokenAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/38bcb2e0-88ab-4804-8df4-f4dde9873687/resourcegroups/Token/providers/Microsoft.Web/sites/JWTTokenAPI20240105193456</ResourceId>
    <ResourceGroup>Token</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://jwttokenapi20240105193456.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0ff8a7ce-0436-4490-80d9-590d2ea7849a</ProjectGuid>
    <PublishUrl>https://jwttokenapi20240105193456.scm.azurewebsites.net/</PublishUrl>
    <UserName>$JWTTokenAPI20240105193456</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>